* {
  background-color: black;
  font-family: 'Times New Roman', Times, serif;
}

#navbar {
  color: greenyellow;
  background-color: black;
}

#aboutme {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#projects {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
