html {
  background-image: url("green.png");
  color: white;
  font-size: 16px;
  scroll-behavior: smooth;

}

body {
  margin: 0rem;
}

/* Header Section */
#header {
  background-color: black;
  margin-left: -0.625rem;
  margin-right: -0.625rem;
  margin-top: -0.625rem;
}

#header h1 {
  color: #18d26e;
}


.nav_container {
  margin-top: -0.3125rem;
  margin-left: 18.75rem;
  margin-right: 12.5rem;
  height: 6.25rem;
  display: flex;
  justify-content: center;
  align-items: center;

}

.nav_container h1 {
  margin-right: auto;
  font-family: "Poppins", sans-serif;
  font-size: 2.25rem;
  white-space: nowrap;
}

.nav_menu ul {
  display: flex;
  font-size: 1.375rem;
  font-family: "Poppins", sans-serif;
  list-style-type: none;
  padding: 0;
  margin-left: 12.5rem;
  white-space: nowrap;
}

.nav_menu li {
  margin-left: 1.875rem;
}

#header a:link {
  color: white;
  text-decoration: none;
}

/* visited link */
#header a:visited {
  color: white;
  text-decoration: none;
}

/* mouse over link */
#header a:hover {
  color: #18d26e;
  text-decoration: none;
}

/* selected link */
#header a:active {
  color: blue;
  text-decoration: none;
}

/* End Header Section */

/* Start Home Section */
.home_container {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  height: 43.75rem;
  padding: 1.875rem 1.875rem 1.875rem 1.875rem;
  margin: 3.75rem 3.75rem 3.75rem 3.75rem;
  background-color: black;
  border-radius: 1.875rem;
  font-size: 1.875rem;
  text-decoration: underline #18d26e;
  color: white;

  text-align: center;
}

.resume-button button {
  color: black;
  background-color: #18d26e;
  height: 3.125rem;
  width: 12.5rem;
  border-radius: 0.625rem;
  margin-left: 1.25rem;
  box-shadow: 0rem 0.3125rem 0.9375rem 0rem rgba(221, 210, 210, 0.823);
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.0625rem;
  margin-right: 1.25rem;
  margin-top: 3.125rem;
  font-size: 1.25rem;
}

.resume-button button:hover {
  color: white;
}


/* About Me Section */

.about_container {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  height: 43.75rem;
  padding: 1.875rem 1.875rem 1.875rem 1.875rem;
  margin: 3.75rem 3.75rem 3.75rem 3.75rem;
  background-color: black;
  border-radius: 1.875rem;
}


.about-me-title,
.column-text h1 {
  color: #18d26e;
  font-size: 1.5625rem;
}

.about-me-title h2 {
  margin: 0.9375rem;
}

.about-me-text {
  display: flex;
  align-items: center;
}

.about-me-text img {
  height: 20.625rem;
  width: 18.75rem;
}

.about-me-text p,
h1 {
  margin-left: 1.25rem;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}

.about-me-text h1 {
  font-size: 1.75rem;
  text-align: center;
}

.about-me-text p {
  font-size: 1.125rem;
  font-style: italic;
}


/*End About Section*/

/*Start Resume Section*/

.resume_class {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  height: 60.75rem;
  padding: 1.875rem 1.875rem 1.875rem 1.875rem;
  margin: 3.75rem 3.75rem 3.75rem 3.75rem;
  background-color: black;
  letter-spacing: 0.0625rem;
  border-radius: 1.875rem;
}

.resume_container {
  display: flex;
}

.resume_container p {
  font-size: 1.25rem;
  line-height: 1.5;
}

.resume_class h1 {
  color: #18d26e;
  font-size: 2.1875rem;
  text-align: left;
  margin: 0;
}

.resume_class h2,
#greenify {
  color: #18d26e;
}

.education {
  margin-right: 1.875rem;
  width: 55%;
}

.resume_class ul {
  margin-bottom: 12rem;
}

.resume_class ul li {
  width: 33%;
  float: left;
  font-size: 1.1rem;
  letter-spacing: 0.20rem;
  line-height: 1.2;
}

.expansion {
  display: flex;
}

.card {
  padding-right: 10rem;
}

.card table {
  font-size: 1.5rem;
  text-align: left;
}

.card td {
  padding-right: 2rem;
  line-height: 1.5;
  padding-left: 2rem;
}

.special_card {
  display: flex;
}

/* End Resume Section */
/*Start Projects Section*/
.projects {
  text-align: center;
  height: 50rem;
  background-color: black;
  margin: 3.75rem 3.75rem 3.75rem 3.75rem;
  border-radius: 1.875rem;
}

.projects h1 {
  text-align: center;
  color: #18d26e;
  font-size: 2.1875rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  letter-spacing: 0.125rem;
}

.selected-works {
  display: flex;
  margin: 1.25rem;
}

#connect {
  height: 37.5rem;
  width: 16.875rem;
  margin: auto;
  background-color: white;
  color: black;
  font-style: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-radius: 0.625rem;
}

#connect img {
  border-top-left-radius: 0.625rem;
  border-top-right-radius: 0.625rem;
  height: 21.875rem;
  width: 16.875rem;
}

#connect p {
  margin-left: 0.625rem;
  margin-right: 0.625rem;
}

#connect a:link {
  color: black;
  text-decoration: none;
}

/* visited link */
#connect a:visited {
  color: black;
  text-decoration: none;
}

/* mouse over link */
#connect a:hover {
  color: #18d26e;
  text-decoration: none;
}

/* selected link */
#connect a:active {
  color: blue;
  text-decoration: none;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

.left-button button {
  color: #18d26e;
  background-color: black;
  height: 2.5rem;
  width: 5.625rem;
  border-radius: 0.625rem;
  margin-left: 1.25rem;
  box-shadow: 0rem 0.3125rem 0.9375rem 0rem rgba(221, 210, 210, 0.823);
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.0625rem;
}

.left-button2 button {
  color: #18d26e;
  background-color: black;
  height: 2.5rem;
  width: 5.625rem;
  border-radius: 0.625rem;
  margin-left: 1.25rem;
  box-shadow: 0rem 0.3125rem 0.9375rem 0rem rgba(221, 210, 210, 0.823);
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.0625rem;
  margin-top: 0.625rem;
}

.right-button button {
  color: #18d26e;
  background-color: black;
  height: 2.5rem;
  width: 5.625rem;
  border-radius: 0.625rem;
  margin-left: 1.25rem;
  box-shadow: 0rem 0.3125rem 0.9375rem 0rem rgba(221, 210, 210, 0.823);
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.0625rem;
  margin-right: 1.25rem;
}

.right-button2 button {
  color: #18d26e;
  background-color: black;
  height: 2.5rem;
  width: 5.625rem;
  border-radius: 0.625rem;
  margin-left: 1.25rem;
  box-shadow: 0rem 0.3125rem 0.9375rem 0rem rgba(221, 210, 210, 0.823);
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.0625rem;
  margin-right: 1.25rem;
  margin-top: 0.625rem;
}

.left-button button:hover,
.right-button button:hover,
.left-button2 button:hover,
.right-button2 button:hover {
  color: white;
}

.left-button button:active,
.right-button button:active,
.left-button2 button:active,
.right-button2 button:active {
  color: #18d26e;
  text-decoration: none;
}


/*End Projects Section */
/*Start Contact Section*/
.container {
  background-color: black;
  margin: 3.75rem 3.75rem;
  height: 50rem;
  border-radius: 1.875rem;
}

.container h1 {
  text-align: center;
  padding-top: 10.625rem;
  color: #18d26e;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.125rem;
}

.contact-box {
  display: flex;
  justify-content: center;
  margin-top: 1.875rem;
}

.input-row {
  display: flex;
  margin-bottom: 0.9375rem;
}

.input-group input {
  width: 20.3125rem;
  height: 3.125rem;
  font-size: 1.25rem;
  line-height: 1.5;
  margin-right: 0.9375rem;
}

.input-group2 input {
  width: 41.25rem;
  height: 3.125rem;
  font-size: 1.25rem;
  line-height: 1.5;
  margin-right: 0.9375rem;

}

.contact-box textarea {
  width: 41rem;
  margin: auto;
}

textarea::placeholder {
  font-size: 1.25rem;
}

.big_button {
  display: block;
  margin-top: 0.9375rem;
  background-color: #18d26e;
  color: rgb(7, 7, 7);
  outline: none;
  height: 4.6875rem;
  width: 12.5rem;
  margin: 5% 38%;
  border-radius: 1.875rem;
  font-size: 1.125rem;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.25rem;
  box-shadow: 0rem 0.3125rem 0.9375rem 0rem rgba(221, 210, 210, 0.823);
}

.big_button:active,
.big_button:hover {
  color: white;
}

/*End Contact Section*/
/*Start Footer Section*/
.footer {
  background-color: black;
  margin-left: -0.625rem;
  margin-right: -0.625rem;
  margin-bottom: -0.625rem;
  height: 2.25rem;
}

.footer {
  text-align: center;
  color: #18d26e;
  margin-top: 5rem;
}

/*End Footer Section*/

/*Iphone Media Queries*/
@media screen and (min-width:768px) and (max-width:1024px) {
  html {
    font-size: 12px;
  }

  .nav_container {
    margin-top: -0.3125rem;

    margin-right: -1rem;
    width: 62%;
  }

  body {
    margin: 0rem;
  }

  #nav_bar {
    margin-left: 5.75rem;
    margin-right: 18.75rem;
  }

  .about_container {
    font-style: normal;
    height: 63.75rem;
    padding: 1.875rem 1.875rem 1.875rem 1.875rem;
    margin: 3.75rem 3.75rem 3.75rem 3.75rem;

  }

  .about-me-title,
  .column-text h1 {
    font-size: 1.75rem;
  }

  .about-me-text p {
    font-size: 1.5rem;
  }

  .resume_class {
    height: 70rem;
  }

  .resume_container p {
    font-size: 1.5rem;
    line-height: 1.5;
  }

  .resume_container h1 {
    font-size: 1.75rem;
  }

  .resume_container h3 {
    font-size: 1.5rem;
  }

  .resume-button button {
    font-style: bold;
    height: 4.125rem;
    width: 13.0rem;
    outline: none;
    margin-right: 1.25rem;
    margin-top: 3.125rem;
    font-size: 1.5rem;
    letter-spacing: 0.25rem;
  }

  /* Projects Section */
  .projects {
    height: 178rem;
  }

  .projects h1 {
    font-size: 3rem;
  }

  .selected-works {
    display: block;
  }

  #connect {
    height: 52rem;
    margin-bottom: 4rem;
    width: 30rem;
    font-size: 1.2rem;
  }

  #connect img {
    width: 30rem;
    height: 30rem;
  }

  .left-button button,
  .right-button button,
  .left-button2 button,
  .right-button2 button {
    height: 5rem;
    width: 7rem;
    outline: none;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    margin-top: 0.625rem;
    background-color: #18d26e;
    color: rgb(7, 7, 7);
    outline: none;
    box-shadow: 0rem 0.3125rem 0.9375rem 0rem black;
  }


  /* End Project Section */

  /*Contact Section*/
  .contact-box textarea {
    width: 28em;
    margin-left: 3rem;
    margin-right: 3rem;
  }

  .input-group input {

    margin-right: 1rem;
    width: 19rem;
  }

  input[placeholder="Name"] {
    margin-left: 3rem;
  }

  .input-group2 input {
    margin-left: 3rem;
    margin-right: 1rem;
    width: 39rem;
  }

  .container {
    height: 60rem;
  }

  .big_button {
    height: 6rem;
    width: 20rem;
    margin: 5% 30%;
    outline: none;
    font-size: 1.5rem;
  }

  /* End Contact Section */
}

@media screen and (max-width:600px) {
  html {
    font-size: 8px;
  }

  .nav_container {
    margin-top: -0.3125rem;

    margin-right: -1rem;
    width: 62%;
  }

  body {
    margin: 0rem;
  }

  #nav_bar {
    margin-left: 5.75rem;
    margin-right: 18.75rem;
  }

  .about_container {
    font-style: normal;
    height: 63.75rem;
    padding: 1.875rem 1.875rem 1.875rem 1.875rem;
    margin: 3.75rem 3.75rem 3.75rem 3.75rem;

  }

  .about-me-title,
  .column-text h1 {
    font-size: 1.75rem;
  }

  .about-me-text p {
    font-size: 1.5rem;
  }

  .resume_class {
    height: 100rem;
  }

  .resume_container p {
    font-size: 1.5rem;
    line-height: 1.5;
  }

  .resume_container h1 {
    font-size: 1.75rem;
  }

  .resume_container h3 {
    font-size: 1.5rem;
  }

  .resume-button button {
    font-style: bold;
    height: 4.125rem;
    width: 13.0rem;
    outline: none;
    margin-right: 1.25rem;
    margin-top: 3.125rem;
    font-size: 1.5rem;
    letter-spacing: 0.25rem;
  }

  .education li {
    margin-right: 2rem;
  }

  .education ul {
    margin-left: -2rem;
  }

  /* Projects Section */
  .projects {
    height: 178rem;
  }

  .projects h1 {
    font-size: 3rem;
  }

  .selected-works {
    display: block;
  }

  #connect {
    height: 52rem;
    margin-bottom: 4rem;
    width: 30rem;
    font-size: 1.2rem;
  }

  #connect img {
    width: 30rem;
    height: 30rem;
  }

  .left-button button,
  .right-button button,
  .left-button2 button,
  .right-button2 button {
    height: 5rem;
    width: 7rem;
    outline: none;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    margin-top: 0.625rem;
    background-color: #18d26e;
    color: rgb(7, 7, 7);
    outline: none;
    box-shadow: 0rem 0.3125rem 0.9375rem 0rem black;
  }


  /* End Project Section */

  /*Contact Section*/
  .contact-box textarea {
    width: 38rem;
    margin-left: 3rem;
    margin-right: 3rem;
  }

  .input-group input {

    margin-right: 1rem;
    width: 19rem;
  }

  input[placeholder="Name"] {
    margin-left: 3rem;
  }

  .input-group2 input {
    margin-left: 3rem;
    margin-right: 1rem;
    width: 39rem;
  }

  .container {
    height: 60rem;
  }

  .big_button {
    height: 6rem;
    width: 20rem;
    margin: 5% 30%;
    outline: none;
    font-size: 1.5rem;
  }




  /* End Contact Section */
}
